/*font name - Raleway : weights - 300, 400, 500, 700*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');

:root {
    /*Colors*/
        /*Primary colors*/
        /*primary colors meant to be used as a gradient*/
            --primary-pink-light:hsl(6, 100%, 80%);
            --primary-pink-dark: hsl(335, 100%, 65%);
            --primary-pink-gradient-1:linear-gradient(90deg, rgba(255,163,153,1) 15%, rgba(255,77,151,1) 94%);
        /*Neutral colors*/
            --pale-blue:hsl(243, 100%, 93%) ;
            --grayish-blue:hsl(229, 7%, 55%);
            --dark-blue:hsl(228, 56%, 26%);
            --very-dark-blue:hsl(229, 57%, 11%);
        /*other*/
        --background-gradient-blue-1:linear-gradient(180deg, rgba(12,18,44,1) 0%, rgb(32, 42, 88) 100%);        

        
    /*layout*/
    --progress-bar-height:1rem;
}


/*default styles*/
*,
*::before,
*::after {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

html {
    height: 100%;
}

body {
    font-size:14px;
    font-family: 'Raleway', sans-serif;
    background-color:var(--very-dark-blue);
    background:var(--background-gradient-blue-1);

    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}





.data-storage-component {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
}

.component-section-1 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color:var(--dark-blue);
    width:20rem;
    height:13rem;
    border-radius: 10px 100px 10px 10px;
    margin:1rem 0;
    box-shadow: 0 10px 10px rgba(18, 18, 18, 0.275);
}

.component-section-1__logo {
    width:8rem;
    margin-bottom:2rem;
    margin-left:calc(2rem + 10px);

}

.component-section-1__icons {
    display:flex;
    position: relative;
}

.icon-box {
    position: relative;
    display:inline-block;
    background-color:var(--very-dark-blue);
    width:3rem;
    height:3rem;
    border-radius: 10px;
    margin:0 0.5rem;
}

.icon-box:first-of-type {
    margin-left:2.5rem;
}

.component-section-1__icon {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}


.component-section-storage {
    position: relative;
    color:var(--pale-blue);
    background-color:var(--dark-blue);
    width:20rem;
    height:10rem;
    border-radius: 10px;
    font-size:0.6rem;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 10px rgba(18, 18, 18, 0.275);
}

.section-storage__heading {
    font-weight:300;
}

.heading__used-amt {
    font-weight:600;
}

.progress-bar {
    position: relative;
    background-color:var(--very-dark-blue);
    width:15rem;
    height:var(--progress-bar-height);
    border-radius: 50px;
    margin:0.75rem 0;
}

.progress-bar__bar {
    position: absolute;
    background:rgb(255,163,153);
    background:var(--primary-pink-gradient-1);
    /*width === 815 / 1000*/
    width:81.5%;
    height:calc(var(--progress-bar-height) - 0.25rem);
    border-radius: inherit;
    top:50%;
    transform:translateY(-50%);
}

.progress-bar__bar__dot {
    position: absolute;
    background-color:#fff;
    width:0.5rem;
    height:0.5rem;
    border-radius: inherit;
    top:50%;
    left:99%;
    transform:translate(-99%, -50%);
}

.progress-bar-text {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight:600;
}


.storage-left-widget {
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;

    background-color:rgb(245, 245, 245);
    padding:1rem 1.5rem;
    border-radius: 10px;
    top:160%;
    transform:translateY(-160%);
}


.widget__heading__amt {
    font-size:2.5rem;
    color:#000;
}

.widget__heading__GB-left {
    color:rgb(145, 144, 144);
    letter-spacing: 1px;
    align-items: flex-end;
    position: relative;
    top:-10px;
    margin-left:0.25rem;
}










/*Desktop view*/
@media(min-width:1000px) {

    .data-storage-component {
        display:flex;
        flex-direction: row;
        align-items:flex-end;
    }
    
    .component-section-1 {    
        margin:0rem 2rem;
    }


    .component-section-storage {
        position: relative;
        color:var(--pale-blue);
        background-color:var(--dark-blue);
        width:calc(15vw + 20rem);
        max-width:50rem;
        height:10rem;
        border-radius: 10px;
        font-size:0.6rem;
    
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding:2rem;
    }

    .progress-bar {
        position: relative;
        background-color:var(--very-dark-blue);
        /*width is a copy of the
        .component-section-storage width minus
        .component-section-storage's padding(2rem)
        on both sides making it 4rem.*/
        width:calc(15vw + 20rem - 4rem);
        height:var(--progress-bar-height);
        border-radius: 50px;
        margin:0.75rem 0;
    }

    .storage-left-widget {
        position: absolute;
        display:flex;
        justify-content: center;
        align-items: center;
        min-width:11rem;
        background-color:rgb(245, 245, 245);
        padding:1rem 1.5rem;
        border-radius: 10px;
        left:90%;
        top:-20%;
        transform:translate(-90%, -20%);
    }

    .storage-left-widget::after {
        content:"";
        position: absolute;
        width:0;
        height:0;
        border-top:35px solid rgb(245, 245, 245);
        border-left:35px solid transparent;
        border-right:0px solid transparent;
        left:100%;
        top:150%;
        transform:translate(-100%, -150%);
    }

}
